header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: #ededed;
  
    .chat-sidebar-head--avatar{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
    
    .chat-sidebar-head--buttons{
      display: flex;
    }
    
    .chat-sidebar-head--btn{
      color: #919191;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;
    }
  }